.ltn__contact-address-item-3 {
    min-height: 350px!important;
    
}

.bg-clr{
	color: #1b9cd8 !important;
}
.bg-temp{
	background-color: #1b9cd8 !important;
}
.bg-templ{
	background-color:  #e1f6fb !important;
}
.bg-clrl{
	color: #e1f6fb !important;
}